.list-event-item .list-event-header {
  margin-bottom: 10px;
  line-height: 32px;
}
.list-event-item .list-event-header span i {
  margin-right: 10px;
}
.list-event-item .list-event-header .event-place {
  margin-right: 20px;
}
.list-event-item .list-event-header .view-details {
  float: right;
}