$main: #443266;
$main-text: #c6badd;
$main-mobile: #5b4388;
$navigation: #4f3a77;
$search-form: #49356d;
$links:#8c489f;
$links-hover: #6d387c;
$small-links: #8e75bc;
$header-link-hover: #9c87c4;
$footer-link: #e2dcee;
$footer-small-links: #a491c9;
$main-border: #7254aa;