$main: #996633;
$main-text: #dfbf9f;
$main-mobile: #bf8040;
$navigation: #ac7339;
$search-form: #a16b36;
$links:#c4884c;
$links-hover: #a66f37;
$small-links: #c68c53;
$header-link-hover: #cc9966;
$footer-link: #ecd9c6;
$footer-small-links: #d0a171;
$main-border: #cc9966;